.rojo {
    color: red;
}


.fondoVerde {
    background-color: green;
}

.fondoCeleste {
    background-color: lightblue;
}

.textoBlanco {
    color: white;
}

.textoVerde{
    color: green;
}

.amarillo{
    color: yellow;
}

.verde{
    color: green;
}

.azul{
    color:blue;
}

.violeta{
    color:purple;
}






